<!-- include header -->
<%- include('common/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Items</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">Update Item</h2>
             <span class="text-light">Use the following form to update an item from the list</span>
         </div>

         <!-- form handling -->
         <form action="/" method="POST" id="update-item">
            <div class="new_item">
                <div class="form-group">
                    <label for="item_name" class="text-light">Item</label>
                    <input type="hidden" name="id" value="<%= items_list._id %>">
                    <input type="text" name="item_name" value="<%= items_list.item_name %>">
                </div>
               
                <div class="form-group">
                    <label for="item_price" class="text-light">Price</label>
                    <input type="text" name="item_price" value="<%= items_list.item_price %>">
                </div>
                <div class="form-group">
                    <label for="shop" class="text-light">Shop</label>
                    <input type="text" name="shop" value="<%= items_list.shop %>">
                </div>
                <div class="form-group">
                    <label for="quantity" class="text-light">Quantity</label>
                    <input type="text" name="quantity" value="<%= items_list.quantity %>">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('common/_footer') %>
<!-- /include footer -->